.button {
  --bg-color: var(--primary);
  --hover-bg-color: var(--secondary);
  --text-color: white;
  background-color: var(--bg-color);
  color: var(--text-color);
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--hover-bg-color);
}

@media screen and (max-width: 768px) {
  .button {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}