.memberCard{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 16px;
    width: 400px;
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.memberCard:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.memberCard img{
    border-radius: 8px;
    width: 100%;
    height: 250px;
    object-fit:cover;
}

.memberTitle{
  font-size: 24px;
  margin: 10px 0;
  color: var(--text);
}
.memberRole{
    font-size: 16px;
    color: #555;
}

.memberDescription{
    font-size: 16px;
    color: #6b7280;
}
 
/* social media accuents */

.memberCardSocials{
    display: flex;
    gap: 10px;
    /* align-self: center; */
    margin-top: 10px;
}